@model SchoolTemplate.Database.Festival
@{ ViewData["Title"] = "Festival"; }

@section style{
    <link href="/css/festivals.css" type="text/css" rel="stylesheet" />
}

<h1>@Model.Naam</h1>

<div class="flexbox"> @*responsive design for festival detail pages*@
    <div class="left"><img class="logo" src="@Model.Img" /></div>
    <div class="right">
        <div>
            <h3><u>Date</u>: @Model.Datum</h3>
            <h3><u>Time</u>: @Model.Tijd</h3>
            <h3><u>Age</u>: @Model.Minimumleeftijd</h3>
            <h3><u>Price</u>: €@Model.Prijs</h3>
            <h3><u>Line-up</u>:</h3>
            <p>@Model.Artiesten</p>
        </div>
            <h3><u>About</u>:</h3>
            <p> @Model.Beschrijving</p> <br /> <br />
        <div class="ticket">
            <p style="font-size:115%;"><b>Will you be there?</b></p>
            <button type="button">Buy tickets</button>
        </div>
    </div>
</div>
